<!DOCTYPE html>
<html ng-app="MyApp">
	<head>
		<meta charset="utf-8">
		<title>Hola mundo con angularJS</title>
		<link rel="stylesheet" type="text/css" href="../Hello/assets/css/main.css">
	</head>
	<body>
		<header class="fixed">
			<nav class="navbar navbar-inverse">
				<div class="container d-table">
					<div class="navbar-header dt-cell">
						<h1 class="logo">
							<a href="index.html"><img src="../Hello/assets/img/logoMedium.jpg"></a>
						</h1>
					</div>
					<ul class="navbar-nav dt-cell">
						<li><a href="">Page 1</a></li>
						<li><a href="">Page 2</a></li>
						<li><a href="">Page 4</a></li>
					</ul>
				</div>
			</nav>
		</header>

		<div class="main container">
			<section ng-controller="ToDoList" class="col-6">
				<h3>Tareas con Local storage </h3>

				<form ng-submit="addActividad()">
					<fieldset>
						<input type="text" ng-model="newToDo.actividad" placeholder="Escribe tu comentario" required="required">
						<input type="date" ng-model="newToDo.fecha" placeholder="Nombre del usuario" required="required">
						<input type="submit" name="Agregar">
					</fieldset>
				</form>

				<button ng-click="clean()">Limpiar lista de actividad</button> 

				<ul>
					<li ng-repeat="to in todo">
						<p>{{to.actividad}} <strong>{{ to.fecha | date : format : timezone }}</strong> <a href="#" ng-click="removeItem(to)"> Delete</a> </p>
					</li>
				</ul>
			</section>

			<section class="col-6" ng-controller="FiltersController">
				<h3>Quitar etiquetas </h3>
				
				<form ng-submit="addHtml()">
					<fieldset>
						<textarea type="text" ng-model="newHtml.old" value="<p>Hola Mundo</p>" placeholder="Escribe tu Html <p>Hola Mundo</p>" required="required"> </textarea>

						<input type="submit" name="Guardar"> 

					</fieldset>
				</form>
								
				<p><b>Texto:</b> {{ newHtml.old | removeHtml }}</p>
				
				<h1><b>Lista de Html</b></h1>
				
				<ul>
					<li ng-repeat="html in listHtml">
						<p>{{ html.old }} <strong>{{ html.old | removeHtml }}</strong> </p>
					</li>
				</ul>

				<button ng-click="cleanHtml()">Limpiar lista de Html</button> 
			</section>

			<section ng-controller="CommentsFlash" class="col-6">
				<h3>Comentarios Flash</h3>

				<fieldset>
					<input type="text" ng-model="newComment.comment" placeholder="Escribe tu comentario" required="required">
					<input type="text" ng-model="newComment.username" placeholder="Nombre del usuario" required="required">
					<button ng-click="addComment()">Agregar</button>
				</fieldset>
				
				<ul>
					<li ng-repeat="comment in comments">
						<p>{{comment.comment}} <strong>{{ comment.username }}</strong> </p>
					</li>
				</ul>
			</section>

			<section class="col-6" ng-controller="CommentsAPI">
				<h3>Comentarios del API</h3>

				<fieldset>
					<input type="text" ng-model="newComment.title" placeholder="Tituloo" required="required">
					<input type="text" ng-model="newComment.body" placeholder="Escribe tu comentario" required="required">
					<input type="hidden" ng-model="newComment.userId" value="1">
					<button ng-click="addCommentAPI()">Agregar API</button>
				</fieldset>
				<ul>
					<li ng-repeat="post in posts">
						<p><strong>{{post.body}} </strong> 
						{{ post.title }} </p>
					</li>
				</ul>
			</section>
			
		</div>

		<footer class="bgColor">
			<div class="container">
				<p class="text-center">© Copyright 2018 @jjmmontilla</p>
			</div> 
		</footer>
	</body>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<script src="../hello/controller/controller.js"></script>
	<script src="../hello/assets/js/angular-local-storage.min.js"></script>
</html>