body{
	font-family: sans-serif;
	background-color: $white;
	font-size: 12px;
	padding: 0;
	margin: 0;
	
	.container{
		width: 80%;
		max-width: 1160px;
		margin: 0 auto;
	}

	.d-table{	display: table; }
	.dt-cell{ display: table-cell; }
	.text-center{ text-align: center; }
	.text-left{ text-align: left; }
	.text-right{ text-aign: right; }
	.hidden{ display: none; }
	.col-6{
		width: calc(50% - 2em);
		display: inline-block;
		vertical-align: top;
		position: relative; 
	}
	.bgColor{
		background-color: $bgLayout;
		color: $white;
	}

	@media screen and (max-width: 767px){
		.container{	width: 90%;	}
	}

	@media screen and (max-width: 460px){
		.container{	
			width: calc(100% - 20px); 
			margin: 0 10px;
		}
	}
}

header{
	width: 100%;

	&.fixed{
		position: fixed;
		-webkit-box-shadow: 0px 3px 4px 0px rgba(171,168,171,0.66);
    -moz-box-shadow: 0px 3px 4px 0px rgba(171,168,171,0.66);
    box-shadow: 0px 3px 4px 0px rgba(171,168,171,0.66);
    z-index: 999;
	}

	&.fixed + .main{
		padding-top: 120px;
		min-height: 200px;
	}

	.navbar{
		min-height: 60px;
		width: 100%;
		display: table;
		background-color: $white;

		.navbar-nav{
			>li{
				padding: 6px 10px;
				display: inline-block;
				vertical-align: middle;
			}
			.navbar-header{
				> h1{ margin: 0;	}
			}	
		}

		&navbar-inverse{
			background-color: $bgLayout;
			color: $white;
			.navbar-nav{
					> li{
						> a{
								color: $white;
						}
					}
			}
		}
		
	}
}

footer{
	padding: 12px 0; 
}

